<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Routing Solution</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
 <div class="login">
	<h1>Optimal Routing</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">

        <div class="input-field col s4">
            <label for="vehicle_capacities"><b>Capacities of Vehicles</b></label>
            
          <input id="vehicle_capacities" name="vehicle_capacities" placeholder="[e.g. 15,20,30,20]" type="text" class="validate" required>
        </div>


        <div class="input-field col s4">
            <label for="num_vehicles"><b>Number of Vehicles</b></label>
            
          <input id="num_vehicles" name="num_vehicles" placeholder="Enter number of vehicles" type="number" class="validate" required>
        </div>

  </div>


        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>